body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title div {
  width: 80px;
}

.wrbtn {
  background-color: var(--mint);
  cursor: pointer;
  font-size: 20px;
  border: 3px solid black;
  border-bottom: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 4px;
}

.postForm {
  width: 90%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 6px;
}

.board {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 15px;
  outline: none;
  width: 90%;
  height: calc(100vh - 180px);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 5px;
}
